{{!
   This page will be rendered when the following route is hit: GET http://localhost:3000/marvelcharacter/:id
  
    This page has a main element, and inside of the main element, there is an article tag that has an h1 with the
    character name, an img which the src is set to the value read from thumbnail.path in the data which is a URL to an
    image for the character

    }}
<main>
<article id="singlePage">
    <h1>{{heading}}</h1>
    <img alt="{{heading}}" src="{{result.thumbnail.path}}/portrait_uncanny.jpg">
    <p>{{result.description}}</p>
    {{#if result.comics.items}}
    <h2>Comics</h2>
    <ul class="comicList">
        {{#each result.comics.items}}
        <li>
            {{this.name}}
        </li>
        {{/each}}
    </ul> 
    {{/if}}  
    <a href="/">Search for Another Character</a><br>     
</article>
</main>
<footer>
    <p>Data provided by Marvel. © 2014 Marvel</p>
</footer>
